/* ************** */
/* NAVIGATION*/
/* ************** */
.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 250px;
  font-family: var(--ff-2);
  font-size: 18px;
  color: var(--gray-03);
  padding: 8px 16px;

  overflow-y: scroll;
}

.logo-box {
  padding: 16px;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
  margin: 10px 0;
  color: var(--black);
  font-family: var(--ff-1);
  font-weight: 500;
}

.nav-bar-nav {
  padding: 64px 0;
}

.nav-items:hover .sub-nav {
  display: block;
}

.nav-link {
  padding: 8px 16px;
}

.nav-link:hover {
  background-color: var(--gray-01);
  color: var(--black);
}

.sub-nav {
  display: none;
  padding: 12px 24px;
  font-size: 15px;
}

.nav-contact-box {
  font-size: 15px;
  color: var(--black);
}

/* ************** */
/* HEADER*/
/* ************** */

.m-navbar{
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}

.m-navbar .logo-box{
  padding: 24px 16px;
}

.m-navbar .logo {
  color: var(--white);

}

.m-toggler-box ion-icon {
  font-size: 24px;
  padding: 24px 16px;
}
 


/* ************** */
/* HERO*/
/* ************** */
.hero-box {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center;
}

.hero-title {
  font-weight: 400;
  margin: 24px 0;
}

.hero-link-box {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.hero-img-box {
  position: relative;
}

.heading-primary-box {
  position: absolute;
  top: 34px;
  left: 32px;
}

/* ************** */
/* SUBCRIBE*/
/* ************** */

.subcribe .container {
  background-color: var(--black);
}

.product-text{
  margin: 15px 0;
  
}

/* ************** */
/* DESCRIPTION*/
/* ************** */
.description .container {
  background-color: var(--gray-02);
}
.description-box {
  display: flex;
  padding: 64px 0;
  font-size: 12px;
  
}

.description-items {
  flex-basis: calc(100% / 3);
}

.desc-title{
  
  font-size: 20px;
  margin: 10px 0;
}

.contact-desc{
  text-align: center;
  margin: 12px 0;
}

.contact-btn{
  width: 100%;
  font-size: 12px;
  padding: 8px 16px;
}

.contact-input{
  font-size: 12px;
  font-family: var(--ff-1);

}

.about-items{
  margin-bottom: 12px;
  text-decoration: underline;
}

.desc-text{
  margin-bottom: 12px;
}

.desc-logo-box{
  font-size: 18px;
  margin-top: 30px;
}
/* ************** */
/* footer*/
/* ************** */

footer .container {
  background-color: var(--black);
  padding: 24px 0;
  text-align: center;
}

footer p {
  color: var(--white);
}
